body {
    font-family: sans-serif;
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    width: 400px;
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}

.input-group {
    display: flex;
    margin: 15px 0;
}

input {
    flex: 1;
    padding: 10px;
}

button {
    margin-left: 5px;
    padding: 8px;
    cursor: pointer;
}

li {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}