* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #0f172a;
    color: white;
}

/* Layout */
.layout {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background: #020617;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
}

.sidebar li:hover,
.sidebar .active {
    background: #1e293b;
}

.logout-btn {
    margin-top: auto;
    padding: 10px;
    border: none;
    background: #f87171;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

/* Main */
.main {
    flex: 1;
    padding: 30px;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Input */
.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    border: none;
}

.add-btn {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #38bdf8;
    font-weight: bold;
    cursor: pointer;
}

.add-btn:hover {
    background: #0ea5e9;
}

/* Tasks */
ul {
    list-style: none;
}

li {
    background: #1e293b;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.completed span {
    text-decoration: line-through;
    opacity: 0.6;
}

.actions button {
    margin-left: 5px;
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
}

.complete-btn {
    background: #4ade80;
}

.delete-btn {
    background: #f87171;
}